# =========================
# Git
# =========================
.git
.gitignore

# =========================
# IDE
# =========================
.idea
.vscode

# =========================
# Runtime / generated
# =========================
videos
*.log
*.mp3

# =========================
# Local env & secrets
# =========================
.env
.env.*
secrets/
*.pem

# =========================
# Databases (usually local)
# =========================
*.db
*.sqlite
*.sqlite3
data.db

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db

# =========================
# Binaries (if building inside container)
# =========================
*.exe
*.exe~
*.dll
*.so
*.dylib
*.out
*.test
.gitlab-ci.yml
